@charset "utf-8";
/*首页*/

.logo{
	width: 288px;
	 height: 200px;
	 position: relative;}
.logo img{
	position: absolute; 
	top: 25%; left:8%; 
	margin-left: -16px; 
	margin-top: -18px}
#nav .ui-btn-icon-left .ui-icon {
	left: 10%;
}
#nav {
	line-height:29px;
	padding: 0px 18px;
	margin-top: 100px;
}
#nav #radius li:first-child a {
	border-radius: 0.6em 0 0 0.6em;
}
#nav #radius li a:hover{ color:#000;}
#nav #radius li:last-child a {
	border-radius: 0 0.6em 0.6em 0;
}
#nav #radius .ui-btn-text {
	text-shadow: 1px 1px 1px #FFFFFF;
	font-size: 21px;
}
.ui-btn-corner-all {
	border-top-left-radius: 0.6em;
	border-top-right-radius: 0.6em;
	border-bottom-right-radius: 0.6em;
	border-bottom-left-radius: 0.6em;
}
.ui-btn-inner .ui-btn-text {
 font-family:"微软雅黑"； font-size:18px;
}
.ui-btn-up-e {
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffe332), to(#ffa105));
}
.ui-btn .ui-btn-up-e:hover {
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffa105), to(#ffe332));
}
#page1 {
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#0074d9), to(#02449b));
}
#txt p {
	text-align: center;
	font-size: 2.5em;
	color: #FFF;
	font-family: "微软雅黑";
	letter-spacing: 0.4em;
	margin-top: 0.5em;
	margin-bottom: 1.5em;
	text-shadow: none;
}
#user_txt, #password_txt {
	margin: 0 0 20px 0px;
	color: #FFF;
	font-size: 1.1em;
	font-family: "微软雅黑";
	line-height: 1.4em;
	font-weight: normal;
	text-shadow: none;
}
#textinput4, #textinput5 {
	width:99%;
	margin:8px 0 8px 0;
	height: 33px;
}
#dl .ui-btn-inner .ui-btn-text {
	margin: 3em 0 3em 0;
	color: #FFF;
	font-family: "微软雅黑";
	letter-spacing: 0.4em;
	font-size: 1.3em;
	font-weight: normal;
	text-shadow: 1px 1px 1px #333333;
}
#dl {
	width:100%
	height: 46px;
}
#dl:hover {
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffa105), to(#ffe332));
	color:#FFF;
}
#nav ul li a:hover {
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#bfedff), to(#62d0fd));
}
#page_bg {
	background: #e5ecf2;
}
#nav .ui-btn-up-c {
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#fdfdfd), to(#d8d8d8));
	color:#000;
}
/*记录缺陷*/
#qx .ui-icon{ width:0; height:0;}

#qx .ui-collapsible-heading-toggle .ui-btn ui-btn-icon-left .ui-corner-top .ui-btn-up-d .ui-icon .ui-icon-shadow .ui-icon-minus{ display:none;}
#qx .ui-btn-inner .ui-btn-text {
	color: #000;
}
#searchinput1 {
	margin-left:-6px;
	margin-right:5px;
	width:100%;
	height: 33px;
}
#hd {
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#0177de), to(#0051ab));
}
#anniu {
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#74cb0e), to(#3a8a02));
	
}
.ui-collapsible-heading .ui-btn:hover {
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffe332), to(#ffa105));
}
.ui-btn-up-d {
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#bcdfff), to(#75b5f6));
	text-shadow: 1px 1px #FFFFFF;
}
.ui-collapsible-heading .ui-btn-up-d .ui-btn-text {
	color: #565347;
}
.ui-block-a #xj {
	border-radius: 0.6em;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffe332), to(#ffa105));
	border: 1px solid #dfa710;
	width: 80px;
	height: 45px;
	cursor: pointer;
}
.ui-block-a #xj img {
	position: relative;
	margin: 7px 0 0 23px;
}
#anniu .ui-btn-inner .ui-btn-text {
	text-shadow: 1px 1px 0 #000;
}
#anniu:hover {
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#3a8a02), to(#74cb0e));
}
/*请扫描巡视点标签*/
#tp { position:relative; margin:0 auto; width:284px; height:306px; padding: 0 0 100px 0;}
#tp img{ width:100%; margin:40% 0 0 0;}
#sm .ui-btn-inner .ui-btn-text {
	text-shadow: 1px 1px 0 #333;
}
#sm {
	box-shadow: none;
	border: 1px solid #388602;
	margin: 10em 0 3em 0;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#9edb56), to(#388602));
}
#sm:hover {
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#388602), to(#9edb56));
	
}
#smsm {
	color:#000;
	box-shadow: none;
	border: 1px solid #7babdc;
	margin: 6em 0 4em 0;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#dbedfd), to(#8fc2f2));
}
#smsm:hover {
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#8fc2f2), to(#dbedfd));
	color:#000;
}
#anniu {
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#74cb0e), to(#3a8a02));
}
/*001号巡视点*/
.ui-btn-up-d:visited, .ui-btn-up-d a.ui-link-inherit{ color:#000;}
#hd {
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#0177de), to(#0051ab));
}
#xs ul li {
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#e2ebf3), to(#cfdeeb));
}
#xs ul li:hover {
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffe332), to(#ffa105));
}
#fanhui {
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#0177de), to(#0051ab));
	margin: 0 0 0 0.5%;
}
#fanhui:hover {
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#0051ab), to(#0177de));
	margin: 0 0 0 0.5%
}
#fanhui .ui-btn-inner .ui-btn-text {
	text-shadow: 1px 1px 1px #333;
}
/*1F机巡视内容*/
#yongdxt{ margin-bottom:20px;}
#bi{ margin-bottom:-10px;}
#xunshi{ z-index:9999;}
#bi li:last-child{border-radius: 0 0 0.6em 0.6em;}
#xjnr .ui-listview{ margin:-16px -16px -11px -16px;}
.ui-btn-up-c:visited, .ui-btn-up-c a.ui-link-inherit{ color:#000;}
.ui-btn-text .ui-link-inherit {
	text-shadow: 1px 1px 0 #ffffff;
}
#lb_bg:hover {
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffe332), to(#ffa105));
	
}
li.lb_bg a:hover{ color:#000;}
li.lb_bg {
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#e2ebf3), to(#cfdeeb));
}
.shuoming1 {
	color: #F00;
	letter-spacing: 3px;
	font-size: 16px;
	width: auto;
	height: 16px;
	margin: -30px 0 0 0;
	z-index: 9999;
	right: 40px;
	position: absolute;
}
.shuoming {
	color: #FFF;
	background: #F00;
	font-size: 14px;
	font-weight: normal;
	width: 30px;
	font-family: "微软雅黑";
	text-align: center;
}
#lb_bg {
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#e1ebf3), to(#d0deeb))
}
.ui-collapsible-heading .ui-btn-up-b {
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#0177df), to(#0056b1));
}
.ui-collapsible-heading .ui-btn-up-b .ui-btn-text {
	color: #ffffff;
}
.qxdy {
	width: 60px;
	margin-top:5px;
	float: right;
	position: absolute;
	z-index: 999;
	right: 48px;
}
#text-basic {
	height: 20px;
}
#xunshi.ui-collapsible-heading .ui-btn:hover {
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#0056b1), to(#0177df));
	text-shadow: none;
}
#xunshi .ui-btn-inner .ui-btn-text:hover {
	text-shadow: none;
}
.ui-collapsible-heading-toggle .ui-btn-icon-left .ui-btn-up-b:hover {
	text-shadow: none;
}
#xunshi .ui-btn-inner:hover {
	text-shadow: none;
}
/*巡检列表*/
#lb ul li:hover {
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffe332), to(#ffa105));
}
#xj {
	width: 20px;
	height: 25px;
}
.ui-bar-b {
	text-shadow: 0 1px 0 #04070A;
}
 
